%p
  Hey #{@recipient.full_name},
%p
  = "#{@module_name.capitalize} have been partially imported. Please find the attachment below to check the unprocessable records."

%p
  Thanks,
%p
  Team OlympicStars
