%ul.nav.nav-tabs.card-header-tabs
  %li.nav-item
    = link_to "Details", coaching_student_path(@student), class: "nav-link #{"active" if active_nav == "details"}"
  %li.nav-item
    = link_to "Payments", coaching_student_student_payments_path(@student), class: "nav-link #{"active" if active_nav == "student_payments"}"
