.table-responsive
  %table.table.table-sm.details-table
    %tbody
      %tr
        %td Name
        %td= @payment_method.name

      %tr
        %td Student payments
        %td= @payment_method.student_payments.size

      %tr
        %td Teacher payments
        %td= @payment_method.teacher_payments.size

      %tr
        %td Status
        %td= @payment_method.archived_status
