.table-responsive
  %table.table.table-sm.details-table
    %tbody
      %tr
        %td Name
        %td= @course.name

      %tr
        %td Fee
        %td= amount_with_currency(@course.fee)

      %tr
        %td Students count
        %td= @course.students_count

      %tr
        %td Status
        %td= @course.archived_status
