@import "variables";

.auth-card {
  max-width: 500px;
  margin: 20px auto;
  padding: 25px;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  background-color: $white-color;
}

.auth-flash-message {
  max-width: 500px;
  margin: auto;
}

.page-card {
  border-radius: $default-border-radius;
  padding: 20px;
  background-color: $white-color;
  box-shadow: $default-box-shadow;

  @media(min-width: 992px) {
    padding: 35px;
  }
}

.page-card-header {
  margin-bottom: 20px;

  @media(min-width: 992px) {
    margin-bottom: 30px;
  }
}
