@import "variables";

.secondary-text {
  font-size: 11px;
  font-family: "AribauGroteskRegular";
}

.sidebar {
  position: fixed;
  left: -270px;
  width: 270px;
  height: 100vh;
  background-color: $white-color;
  padding-bottom: 65px;
  transition: $default-transition;
  z-index: 1032;

  @media(min-width: 992px) {
    left: 0;
  }

  &.active {
    left: 0;
  }

  .footer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    position: fixed;
    bottom: 0;
    width: 270px;
  }

  .settings-icon {
    display: flex;
    align-items: center;
    color: $white-color;

    span {
      font-size: 16px;
      margin-left: 5px;
      font-family: "AribauGroteskMedium";
      max-width: 150px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .logout-icon {
    padding: 6px;
    background-color: $white-color;
    color: $red-color;
    border-radius: $default-border-radius;
    transition: $default-transition;

    &:hover {
      background-color: $red-color;
      color: $white-color;
    }
  }
}

.mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white-color;
  padding: 8px 15px;

  @media(min-width: 992px) {
    display: none;
  }

  .brand-logo {
    height: 40px;
    width: auto;
  }

  .hamburger {
    color: $primary-color;
    background-color: $primary-bg-color;
    padding: 5px;
    border-radius: $default-border-radius;
  }
}

.brand-logo {
  width: 150px;
  height: auto;
}

.sidebar-item-groups {
  margin-right: 10px;
}

.sidebar-item {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  transition: $default-transition;

  .indicator {
    margin: 7px 6px 7px 0px;
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
    width: 4px;
  }

  .link {
    color: $grey-color;
    padding: 8px 15px;
    font-size: 16px;
    font-family: "AribauGroteskMedium";
    border-radius: $default-border-radius;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: $primary-bg-color;
      color: $light-primary-color;
    }
  }

  &.active {
    .indicator {
      background-color: $primary-color;
    }

    .link {
      background-color: $primary-bg-color;
      color: $primary-color;
    }

    & + .hide {
      display: block;
    }
  }
}

.sidebar-sub-item {
  display: flex;

  .indicator {
    margin: 7px 20px 7px 0px;
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
    width: 4px;
  }

  .link {
    color: $grey-color;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: $default-border-radius;
    width: 100%;

    &:hover {
      background-color: $primary-bg-color;
      color: $light-primary-color;
    }
  }

  &.active {
    .link {
      color: $primary-color;
    }
  }
}

.content-container {
  padding-top: 65px;
  padding-bottom: 20px;

  @media(min-width: 992px) {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 270px;
  }
}

.main-content {
  padding-left: 15px;
  padding-right: 15px;
}

.overlay {
  height: 100vh;
  width: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1031;
  display: none;
  transition: $default-transition;

  &.active {
    display: block;
  }
}

.hide {
  display: none;
}

.page-header {
  font-size: 30px;
  font-family: "AribauGroteskBold";
  color: $grey-color;
  margin-bottom: 20px;

  @media(min-width: 992px) {
    margin-bottom: 30px;
  }
}

.well {
  background-color: $primary-bg-color;
  border-radius: $default-border-radius;
  padding: 15px;

  @media screen and (min-width: 992px) {
    padding: 25px;
  }
}

.empty-record-well {
  display: flex;
  flex-direction: column;
  align-items: center;

  .no-record-text {
    margin-top: 15px;
    color: $primary-color;
  }
}

.required:after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: $red-color;
  padding-left: 4px;
  font-family: "AribauGroteskBold";
}

.pagination-block {
  display: flex;
  justify-content: center;
  font-family: "AribauGroteskMedium";

  .pagination {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page {
    padding: 6px 13px;
    background-color: $primary-bg-color;
    margin: 3px;
    border-radius: $default-border-radius;
    font-weight: 500;
    transition: $default-transition;

    &:hover {
      background-color: $primary-color;
    }

    a {
      cursor: pointer;
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 7px 15px;
      margin: -7px -15px;
      color: $primary-color;
      border-radius: $default-border-radius;

      &:hover {
        color: $white-color;
        background-color: $primary-color;
      }
    }

    &.active {
      background-color: $primary-color;
      color: $white-color;
      cursor: not-allowed;
    }
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $primary-bg-color;
    }
  }
}

.nav-link {
  color: $primary-color !important;
}

.secondary-header {
  display: flex;
  font-family: "AribauGroteskMedium";
  font-size: 18px;
}

.schedule-set {
  display: flex;
  font-size: 10px;

  .schedule {
    display: flex;
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px 5px;
    border-radius: $default-border-radius;
    background: $grey-bg-color;

    &.checked {
      color: $white-color;
      background: $primary-color;
    }
  }
}
