@import "variables";

.table {
  thead {
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  th {
    background-color: $primary-bg-color;
    padding: 10px 15px 10px 10px;
    color: $primary-color;
    min-width: 150px;
    max-width: 300px;
    border-bottom: 2px solid $primary-color;
    font-family: "AribauGroteskBold";

    &.small-col {
      min-width: 40px;
      padding-left: 3px;
      padding-right: 3px;
      // width: 40px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  tbody {
    border: 0 !important;
  }

  td {
    padding: 7px 15px 7px 10px;
    min-width: 150px;
    max-width: 300px;
    vertical-align: middle;
    border: 0;
    font-family: "AribauGroteskRegular";

    &.small-col {
      min-width: 40px;
      padding-left: 3px;
      padding-right: 3px;
      // width: 40px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  tr td:first-child {
    font-family: "AribauGroteskMedium";
  }

  tbody tr:last-child td {
    border-bottom: 0;
  }

  tr:nth-child(even) {
    background-color: $light-grey-color;
  }

  &.table-sm {
    th, td {
      padding: 5px 5px 5px 10px;
    }
  }

  &.details-table {
    margin-bottom: 0;
    border: 1px solid $primary-bg-color;
    border-radius: $default-border-radius;

    tr td:first-child {
      font-family: "AribauGroteskLight";
      font-size: 12px;
    }

    tr td {
      font-family: "AribauGroteskMedium";
    }

    tr:nth-child(odd) {
      background-color: $light-grey-color;
    }

    tr:nth-child(even) {
      background-color: $white-color;
    }
  }
}
