.table-responsive
  %table.table.table-sm.details-table
    %tbody
      %tr
        %td Name
        %td= @client_type.name

      %tr
        %td Students count
        %td= @client_type.students_count

      %tr
        %td Students count
        %td= @client_type.groups_count

      %tr
        %td Status
        %td= @client_type.archived_status
