.table-responsive
  %table.table.table-sm.details-table
    %tbody
      %tr
        %td Name
        %td= @client_type.name

      %tr
        %td Students Count
        %td= @client_type.students.size

      %tr
        %td Status
        %td= @client_type.archived_status
