- provide(:page_title, "Client Types")
- provide(:page_header, "Client Types")

.page-card
  .page-card-header
    = link_to "Add New", new_coaching_client_type_path, class: "btn btn-primary m-0", data: { turbo_frame: "remote_modal_form" }, title: "Add new client type"

  .page-card-body
    - if @client_types.present?
      = render "table"
      = render "shared/pagy"
    - else
      = render "shared/empty_record"
